{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}

{% block content %}
	<div class="parallax">
        <div class="parallax__image parallax__image-00" data-speed="0.5"></div>
        <div class="parallax__image parallax__image-10" data-speed="1.8"></div>
        <div class="parallax__image parallax__image-11" data-speed="1"></div>
        <div class="parallax__image parallax__image-20" data-speed="2.5"></div>
        <div class="parallax__image parallax__image-21" data-speed="1.8"></div>
        <div class="parallax__image parallax__image-30" data-speed="4"></div>
        <div class="parallax__image parallax__image-31" data-speed="2.5"></div>
        <div class="parallax__image parallax__image-40" data-speed="7"></div>
        <div class="parallax__image parallax__image-41" data-speed="4"></div>
    </div>
{% endblock %}